<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-title">
      Your code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="net == 'on'">
  <img src="../../assets/img/key.png" class="img-logo-page animated flipInX delay-0.5s">

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
       <ion-input formControlName="code" type="text" placeholder="Your Code"></ion-input>
     </ion-item>
 
     <ion-row>
       <ion-col>
         <ion-button type="submit" [disabled]="ionicForm.invalid" expand="block" class="cus-btn">Go</ion-button>
       </ion-col>
     </ion-row>
   </form>

  </div>

  <div *ngIf="net == 'off'">
     <img src="../../assets/img/net.png" class="net">
  </div>

</ion-content>
