.sub-right{
    direction: rtl;
    float: right;
    display: block;
}
.sub-step{
    direction: rtl;
    float: right;
    display: block;
    display: none;
}

.head{
    text-align: center;
    font-weight: bold;
}
