<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-title">
      Redeem Your Points
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Refresh" refreshingSpinner="lines-small">
    </ion-refresher-content>
  </ion-refresher>

  <div id="chartContainer"
       style="width: 90%; 
              height: 400px;
              margin: auto;
              margin-top: 30px;">
  </div>
  
</ion-content>
