ion-content ion-toolbar {
  --background: translucent;
}
.page-tab2{
  margin: 10px;
  border: 1px solid #0ac5ce;
  padding: 5px;
  border-radius: 6px;
}

.scoure-tab2{
  text-align: center;
  color: #0ac5ce;
}

