ion-content ion-toolbar {
  --background: translucent;
}
.login{
  text-align: center;
  margin-top: 25px;
}
.login h5{
  margin-top: 0;
}
.btn-certificate{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}