
<ion-app>
  
  <ion-router-outlet></ion-router-outlet>
  
  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button name="tab3" tab="tab3">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>About Us</ion-label>
      </ion-tab-button>

      <ion-tab-button name="tab4" tab="tab4">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <ion-label>Navigation</ion-label>
      </ion-tab-button>
      
      <ion-tab-button name="tab2" tab="tab2" *ngIf="loggedIn">
        <ion-icon name="trophy-outline"></ion-icon>
        <ion-label>Redeem</ion-label>
      </ion-tab-button>

      <ion-tab-button name="tab5" tab="tab5">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>Contact</ion-label>
      </ion-tab-button>

      <ion-tab-button name="tab6" tab="tab6" *ngIf="loggedIn">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/login" *ngIf="!loggedIn">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  
  </ion-tabs>
  
</ion-app>
