<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-title">
      Send Reset Email
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="net == 'on'">

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
       <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
     </ion-item>
 
     <ion-row>
       <ion-col>
         <ion-button type="submit" [disabled]="ionicForm.invalid" expand="block" class="cus-btn">Send Email</ion-button>
       </ion-col>
     </ion-row>
   </form>

  </div>

  <div *ngIf="net == 'off'">
     <img src="../../assets/img/net.png" class="net">
  </div>

</ion-content>
