<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-title">
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div *ngIf="net == 'on'">

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

    <ion-item>
      <ion-input formControlName="first_name" type="test" placeholder="Your Name"></ion-input>
    </ion-item>

     <ion-item>
       <ion-input formControlName="email" type="email" placeholder="Your Email"></ion-input>
     </ion-item>

     <ion-item>
      <ion-label position="fixed">Doctor</ion-label>
      <ion-select formControlName="dr_id" cancelText="Cansel" interface="action-sheet">
        <ion-select-option *ngFor="let data of page" value="{{data.id}}">{{data.first_name}}</ion-select-option>
      </ion-select>
    </ion-item>

     <ion-item>
      <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="c_password" type="password" placeholder="Confirm Password"></ion-input>
    </ion-item>

     <ion-row>
       <ion-col>
         <ion-button type="submit" [disabled]="ionicForm.invalid" expand="block" class="cus-btn">Register</ion-button>
       </ion-col>
     </ion-row>
   </form>

  </div>

  <div *ngIf="net == 'off'">
     <img src="../../assets/img/net.png" class="net">
  </div>

</ion-content>
