.page-tab2{
    margin: 10px;
    border: 1px solid #0ac5ce;
    padding: 5px;
    border-radius: 6px;
  }
  
  .scoure-tab2{
    text-align: center;
    color: #0ac5ce;
  }

  .not-found{
    text-align: center;
    margin-top: 10%;
    color: red;
  }